.connections {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.username {
  padding-top: 10px;
  color: #989ea2;
  font-family: 'Uchen', serif;

}
