.base {
  border-radius: 50%;
  background-color: bisque;
  background-size: cover;
  background-position: center;
  position: relative;
}

.connections {
  border-radius: 50%;
  min-height: 65px;
  min-width: 65px;
  background-color: bisque;
  background-size: cover;
  background-position: center;
  position: relative;
}

.messages {
  border-radius: 50%;
  min-height: 75px;
  min-width: 75px;
  background-color: bisque;
  background-size: cover;
  background-position: center;
  position: relative;
}

.indicator {
  position: absolute;
  top: 50%;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60%;
  border-radius: 50%;
  background-color: #eb5757;
  padding: 5px;
}
