* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

-webkit-scrollbar {
  display: none;
}

.App {
  /* text-align: center; */
  height: 100vh;
  background-color: #333;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 350px;
  margin-inline: auto;
  background: #eef9fc;
  height: 100vh;
  /* padding-top:20px ; */
  overflow-x: hidden;
  overflow-y: auto;
}

.new-connections {
  padding: 35px 0px 0px 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}


.users {
  display: flex;
  /* overflow: hidden;
   */
   overflow: auto;
}

/* .users::-webkit-scrollbar {
  display: none;
} */




.messages {
  /* remove afther */
  /* height: 50vh; */
  background-color: #fff;
  padding: 35px 20px 0px 20px;
  border-radius: 25px 25px 0 0;
  /* position: fixed; */
  /* position: fixed;
  bottom: 0; */
  min-height: 75vh;
}

.search-bar {
  /* background-color: red; */

}

.search-bar input {
  /* background-color: rgb(229, 255, 0); */
  margin-left: 10px;
  border: none;
  outline: none;
}

/* .messages-container {

} */

.top-bar {
  display: flex;
  justify-content: space-between;
}

.messages-container {
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: auto;
  overflow: auto;
}
